.card {
    height: 100%;
    .poster {
        position: relative;
        height: 100%;
        transition: all 250ms linear;
        img {
            max-width: 100%;
            height: 100%;
            object-fit: cover;
        }
        .details {
            position: absolute;
            top: 0;
            padding: 1rem;
            background-color: $darkestColor;
            height: 100%;
            width: 100%;
            opacity: 0;
            transition: all 500ms linear;
            cursor: context-menu;
            overflow: hidden;
            .scroll_details {
                transition: all 10s linear;
            }
            .title,
            .original_title,
            .language,
            .vote,
            .genre,
            .cast,
            .overview {
                padding: 0.25rem 0;
                border-bottom: 4px solid $liteDarkColor;
                strong {
                    color: #9e4349;
                }
                .fa-star {
                    color: gold;
                }
                span::after {
                    content: '- ';
                }
                span:last-child::after {
                    content: '';
                }
            }
        }
        &:hover .scroll {
            animation: autoScroll 20s 2s linear;
        }
        &:active .scroll {
            animation-play-state: paused;
        }
        &:hover .details {
            opacity: 0.9;
        }
    }
}


/* animations */

@keyframes autoScroll {
    0% {}
    70% {
        transform: translateY(-70%);
    }
    85% {
        transform: translateY(-70%);
    }
    100% {
        transform: translateY(0%);
    }
}