/* grid-structure */

.container {
    max-width: 1400px;
    margin: 2rem auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.col-5 {
    width: calc(100% / 5);
    padding: 1rem 0.5rem;
}