/* grid-structure */

.container {
    max-width: 1400px;
    margin: auto;
    padding: 0 1rem;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-5 {
    width: calc(100% / 5);
    flex-shrink: 0;
}